@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
:root {
    --gray: #e0e5ec;
    --size: 25vw;
    --scalingFactor: calc(100 / 35); /*related to size*/
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.containerY{
  height: 100vh;
  scroll-snap-type: y mandatory;
  flex-flow: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color:red grey;
}

header{
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 200px;
  transition: 0.5s ease;
  background: #212121;
}

header .brand{
  color: #e0e5ec;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation{
  position: relative;
}

header .navigation .navigation-items a{
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before{
  content: '';
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before{
  width: 100%;
}

section{
  padding: 100px 200px;
   scroll-snap-align: start;
   position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #222629;
}

.home:before{
  z-index: 1;
  content: '';
  position: absolute;
  /* background: rgba(3, 96, 251, 0.3); */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

section .content{
  z-index: 2;
  color: #e0e5ec;
  width: 70%;
  margin-top: 50px;
  display: none;
  transition: 1s;
}

section .content.active{
  display: block;
}

section .content h1{
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
}

section .content h1 span{
  font-size: 1.2em;
  font-weight: 600;
}

section .content p{
  margin-bottom: 65px;
}

section .content a{
    border-radius: 44px;
background: #222629;
box-shadow:  17px 17px 34px #131517,
             -17px -17px 34px #31373b;
  padding: 15px 35px;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  transition: 0.4s;
}
section .content a:hover{
    border-radius: 44px;
    background: #32363a;
    box-shadow: inset 20px 20px 60px #17191b,
                inset -20px -20px 60px #2d3337,
                17px 17px 34px #31373b,
             -17px -17px 34px #131517;
  padding: 15px 35px;
  color: #ff4d4d;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
}
section .media-icons{
  z-index: 2;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5s ease;
}

section .media-icons a{
  color: #fff;
  font-size: 1.6em;
  transition: 0.3s ease;
}

section .media-icons a:not(:last-child){
  margin-bottom: 20px;
}

section .media-icons a:hover{
  transform: scale(1.3);
}

@media (max-width: 1040px){
  header{
    padding: 12px 20px;
  }

  section{
    padding: 100px 20px;
  }

  section .media-icons{
    right: 15px;
  }

  header .navigation{
    display: none;
  }

  header .navigation.active{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a{
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }

  header .navigation .navigation-items a:before{
    background: #222;
    height: 5px;
  }

  header .navigation.active .navigation-items{
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }

  .menu-btn{
    background: url(menu.png)no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s;
  }

  .menu-btn.active{
    z-index: 4;
    background: url(close.png)no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s;
  }
}

@media (max-width: 560px){
  section .content h1{
    font-size: 3em;
    line-height: 60px;
  }
}

/* circle */
/*.circle1{
    position: absolute;
    top: 30%;
    left: 70%;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: linear-gradient(145deg, #24292c, #1f2225);
    box-shadow:  20px 20px 60px #17191b,
                 -20px -20px 60px #2d3337;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    z-index: 5;
}
.circle2{
    position: absolute;
    top: 10%;
    left: 60%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: linear-gradient(145deg, #24292c, #1f2225);
    box-shadow:  20px 20px 60px #17191b,
                 -20px -20px 60px #2d3337;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    z-index: 5;
}
.circle3{
    position: absolute;
    top: 60%;
    right: 10%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-radius: 50%;
background: #222629;
box-shadow:  -20px -20px 60px #191c1e,
             20px 20px 60px #2b3034;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    z-index: 5;
}
.circle4{
    position: absolute;
    top: 15%;
    right: 5%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-radius: 50%;
background: #222629;
box-shadow:  -20px -20px 60px #191c1e,
             20px 20px 60px #2b3034;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
    z-index: 5;
}
.dot, .trigger {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: var(--size);
    width: var(--size);
    margin: 10px;
    background: var(--gray);
    box-shadow: 5px 5px 10px rgba(163, 177, 198, 0.6), -5px -5px 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
  }
  .trigger {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.5);
    letter-spacing: 0.05em;
    cursor: pointer;
  }
  .trigger:before {
    content:'click me'
  }
  #trigger:checked + .trigger:before {
    content: 'reset'
  }
  
  #trigger:checked + .trigger + .dots > .dot {
    animation-name: wave;
    animation-timing-function: ease-in-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  .dot {
    opacity: 1;
    transform: translate3d(-50%,-50%,0) scale3d(0,0,1);
  }
  .dot:nth-of-type(2) {
    z-index: 1;
    animation-delay: .5s;
  }
  .dot:nth-of-type(3) {
    z-index: 2;
    animation-delay: 1s;
  }
  
  @keyframes wave{
    0% {
      opacity: 1;
      transform: translate3d(-50%,-50%,0) scale3d(1,1,1);
    }  
    100% {
      opacity: 0;
      transform: translate3d(-50%,-50%,0) scale3d(var(--scalingFactor),var(--scalingFactor),1);
    }
  }
  .menu-fixo {
    position: fixed;
    top: 0;
    z-index: 99;
    transition: all .5s;
}*/
.wrapper {
  background-color: #e0e0e0;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading Spinner */

.loading-spinner {
  position: absolute;
  top: 100px;
  left: 70%;
}

.loading-spinner__ring::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
  background-color: #222629;
  z-index: 10;
  border: 3px solid #ffffff11;
  box-shadow:
    inset 5px 5px 15px #0000001f;
}

.loading-spinner__ring {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.171);
  box-shadow:
    -5px -5px 15px #3c3e3f,
    5px 5px 15px #00000073,
    inset -5px -5px 15px #272c2f,
    inset 5px 5px 15px #0000001f;
}

.loading-spinner__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  border-radius: 50%;
  background: linear-gradient(#fffc48, #b478ff, #4affe2);
  animation: spin 2.5s linear infinite;
}

/* Animations */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


.wrapper2 {
  background-color: #e0e5ec;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Loading Spinner */

.loading-spinner2 {
  position: absolute;
  top: 100px;
  left: 70%;
}

.loading-spinner__ring2::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 35px;
  left: 35px;
  right: 35px;
  bottom: 35px;
  background-color: #f0f0f0;
  z-index: 10;
  border: 3px solid #ffffff11;
  box-shadow:
    inset 5px 5px 15px #0000001f;
}

.loading-spinner__ring2 {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 3px solid #ffffff11;
  box-shadow:
    -5px -5px 15px #fffffff0,
    5px 5px 15px #0000001f,
    inset -5px -5px 15px #fffffff0,
    inset 5px 5px 15px #0000001f;
}

.loading-spinner__inner2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
  border-radius: 50%;
  background: linear-gradient(#fffc48, #b478ff, #4affe2);
  animation: spin 2.5s linear infinite;
}

/* Animations */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

/* fcdfdjfksdjfkdsfjksdjfkssssssssssssssss */

#loading{
    width: 230px;
    height: 230px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    border-radius: 50%;
    position: absolute;
}


@keyframes rotate{
  from{ transform: rotate(-360deg); }
    to{ transform: rotate(360deg); }
}
/* jgfdhfgjkdjfkdf */

.fanRgb{
  position: absolute;
  top: 400px;
  width: 300px;
  height: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #131517;
  box-shadow: inset 9px 9px 18px #0c0d0f,
  inset -9px -9px 18px #1a1d1f,9px 9px 18px #16181a,
  -9px -9px 18px #2e3438;
  padding: 20px;
  border: 4px solid #212629;
}
.fanRgbCircle{
  background: #222629;
  box-shadow: inset 5px 5px 10px #0e0f10,
  inset -5px -5px 10px #363d42;
  border-radius: 50%;
  
}
.fanCircleSpin{
  position: absolute;
  background: linear-gradient(#fffc48, #b478ff, #4affe2);
  animation: spin 2.5s linear infinite;
  border: 10px solid #222629;
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.paraf{
  color: rgb(87, 86, 86);
  font-size: 1.4em;
  position: inherit;
  top: -7.7px;
  left: 1.8px;
  /* text-shadow: 1px 1px 2px black; */
}
.parafuso{
  background: #222629;
  box-shadow: inset -4px -4px 8px #171a1c,
  inset 4px 4px 8px #2d3236;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  bottom: 20px;
}
.parafuso2{
  background: #222629;
  box-shadow: inset -4px -4px 8px #171a1c,
  inset 4px 4px 8px #2d3236;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  bottom: 20px;
}
.parafuso3{
  background: #222629;
  box-shadow: inset -4px -4px 8px #171a1c,
  inset 4px 4px 8px #2d3236;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 20px;
}
.parafuso4{
  background: #222629;
  box-shadow: inset -4px -4px 8px #171a1c,
  inset 4px 4px 8px #2d3236;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 20px;
  top: 20px;
}